:root {
    --blue: #007EFF;
    --light-blue: rgb(0, 187, 255);
}

.board {
    padding: 20px;
    display: flex;
    justify-content: stretch;

    @media (orientation: landscape) {
        width: 100vh;
    }

    @media (orientation: portrait) {
        height: 100vw;
        width: 100%;
    }
    
    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .pre-drop-token {
            visibility: hidden;
            stroke: black;
            stroke-width: 2;            
        }
        
        &:hover {
            .pre-drop-token {
                visibility: initial;
                
                &.yellow {
                    fill: yellow;
                }

                &.red {
                    fill: red;
                }
            }
        }

        .space {
            stroke: black;
            stroke-width: 2;

            rect {
                fill: var(--blue)
            }
            
            circle {
                fill: var(--light-blue)
            }

            &.yellow {
                circle {
                    fill: yellow;
                }
            }

            &.red {
                circle {
                    fill: red;
                }
            }
        }
    }
}