*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html, body, #react-root {
    height: 100%;
    
}

#react-root {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
